# AI / Agent configurations
.agents/
.agent/
.agents
AGENTS.md
agents.md
agent.md

# IDE & OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

#Resource file
backend/src/main/resources/application.yml

